body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

h2 {
    margin-top: 20px;
    color: #333;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}
